* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(earth.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 98vh;
    width: 56vw;
}

ul {
    list-style-type: none;

}

.container1 {
    /* display: flex; */
    justify-content: flex-end;
    width: 98vw;

}

.menu li {
    font-size: 20px;
    padding: 0px 5px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}

a {
    color: white;
    text-decoration: none;
}

.img1 {
    cursor: pointer;
}

.box {

    height: 50vh;
    width: 60vw;
    margin-left: 80px;
    margin-top: 60px;
}

.h1 {
    color: aliceblue;
    font-size: 50px;
}

.box2 {
    color: aliceblue;
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
}

.box3 {
    color: aliceblue;
    margin-top: 20px;
    font-size: 20px;
}

#button {
    padding: 10px;
    font-size: 15px;
    color: aliceblue;
    background-color: black;
    font-style: italic;
    box-shadow: 5px 5px 3px aqua;
    cursor: pointer;
}

#button:hover {
    background-color: aqua;
    box-shadow: 5px 5px 3px white;
    color: black;
}

#span1 {
    color: aqua;
}

.logo {
    position: relative;
    top: 24px;
    left: 10px;
    font-size: 30px;

}

a:hover {
    color: aqua;
}

.box4 {
    height: 30vh;
    margin-top: 30vh;
    width: 98vw;
}

.h11 {
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
}

.txt {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-style: italic;
}

.box5 {
    height: 30vh;
    background-color: aqua;
    width: 98.9vw;
}

#city {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px 15px;
    border: none;
}

.box6 {
    height: 32vh;
    /* background-color: rgb(213, 224, 224); */
    width: 98.9vw;
    display: flex;
}

.cnt {
    /* border: 2px solid black; */
    height: 30vh;
    width: 30vw;
    display: flex;
    margin-left: 20vh;
    padding-top: 2vh;
    display: inline-block;
    flex-wrap: wrap;
}

.h1c {
    text-align: justify;
    padding-top: 10px;
    font-size: 45px;
}

.txt1 {
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
}

.cnt1 {
    /* border: 2px solid black; */
    height: 30vh;
    display: inline-flex;
    width: 30vw;
    margin-left: 35vh;
    padding-top: 35px;
    display: inline-block;
    flex-wrap: wrap;
}

.ad {
    text-align: justify;
    margin-top: 10px;
    margin-left: 2.6vw;
}

.box7 {
    height: 55vh;
    /* background-color: rgb(96, 146, 146); */
    width: 98.9vw;
    display: flex;
    flex-wrap: wrap;
}

.frame {
    /* border: 2px solid black; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 46vh;
    width: 40vw;
    margin-top: 20px;
}

.mail {
    font-size: 18px;
    text-align: center;
    margin-left: 35vw;
    width: 50vh;
    height: 5vh;
}

.img2 {
    margin-top: 2px;
    position: relative;
    top: 4px;
}

.link1 {
    color: black;
    text-decoration: underline;
    height: 20px;

}

.footer {
    height: 10vh;
    background-color: rgb(0, 0, 0);
    width: 98.9vw;
}

.copyr {
    color: white;
    padding-top: 20px;
    text-align: center;
}